<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_CustomerApproval
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_save_after">
        <observer name="wk_customer_save" instance="Webkul\CustomerApproval\Observer\AfterSave" />
    </event>
    <event name="adminhtml_customer_prepare_save">
        <observer name="wk_customer_save" instance="Webkul\CustomerApproval\Observer\BeforeSave" />
    </event>
</config>