<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_CustomerApproval
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Webkul\CustomerApproval\Ui\Component\MassAction\Status\Options">
    <arguments>
        <argument name="data" xsi:type="array">
            <item name="urlPath" xsi:type="string">customerapproval/index/massUpdate</item>
            <item name="paramName" xsi:type="string">wk_customer_approve</item>
            <item name="confirm" xsi:type="array">
                <item name="title" xsi:type="string" translatable="true">Update Customer Status</item>
                <item name="message" xsi:type="string" translatable="true">Are you sure you want to update status of selected Customers?</item>
            </item>
        </argument>
    </arguments>
</type>
</config>