<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="myfatoorah_gateway" translate="label" sortOrder="100" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>MyFatoorah Payment Gateway</label>
                <field id="active" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                </field>
                
                <field id="is_testing" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Testing?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <validate>required-entry</validate>
                </field>
                
                
                <field id="payment_gateway" translate="label" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Payment Gateway</label>
                    <source_model>MyFatoorah\MyFatoorahPaymentGateway\Model\Config\Source\GatewayAction</source_model>
                </field>
                
                <field id="myfatoorah_approved_order_status" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Status for myfatoorah Approved Orders</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                    <!--<tooltip>Select ‘MyFatoorah Processed’ if you want to easily locate all MyFatoorah transactions in the Orders page.</tooltip>-->
                    <validate>required-entry</validate>
                </field>
                
                <field id="webhookSecretKey" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Webhook Secret Key</label>
                </field>
<!--
                <field id="allowspecific" translate="label" type="allowspecific" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>-->
                
                
                <field id="automatic_invoice" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automatic Invoice</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <!--<tooltip>If disabled, online refunding in Magento with MyFatoorah will not be possible.</tooltip>-->
                </field>
                <field id="email_customer" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Customer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
