<?xml version="1.0"?>
<!-- /**
 * @category Mageants EventManager
 * @package Mageants_EventManager
 * @copyright Copyright (c) 2019 Mageants
 * @author Mageants Team <support@mageants.com>
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
	     <event>
	     	 <general>
	     		<enable>1</enable>
	     		<headerlink>Event</headerlink>
	     		<footerlink>Events</footerlink>
	     		<lattitude>32.7294</lattitude>
	     		<longtitude>73.0931</longtitude>
	     		<api>AIzaSyAgtq4QCQ-OJFa2BJwtySDF32EhYAOIurM</api>
	     		<map>8</map>
	     	</general> 
	     	<seoconfigration>
	     		<pagetitle>Events Manager</pagetitle>
	     		<description>Events Manager</description>
	     		<keywords>Events Manager</keywords>
	     		<urlprefix>event</urlprefix>
	     		<urlsufix>.html</urlsufix>
	     	</seoconfigration>
	     	<configrationevent>
	     		<errormsg>no Record found</errormsg>
	     	</configrationevent>
	     </event>
	</default>
</config>