<?xml version="1.0"?>
<!-- /**
 * @category Mageants EventManager
 * @package Mageants_EventManager
 * @copyright Copyright (c) 2019 Mageants
 * @author Mageants Team <support@mageants.com>
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Mageants_EventManager"  setup_version="2.0.0" >
    	  
    </module>
</config>
