<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <identity>
                <logo_width>85</logo_width>
                <logo_height>69</logo_height>
            </identity>
        </sales>
    </default>
</config>
