<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul 
 * @package   Webkul_ShowPriceAfterLogin
 * @author    Webkul Software Private Limited
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Webkul_ShowPriceAfterLogin::config" title="Show Price After Login Configuration" sortOrder="50" />
                                
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>