<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul 
 * @package   Webkul_ShowPriceAfterLogin
 * @author    Webkul Software Private Limited
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Webkul_ShowPriceAfterLogin" setup_version="4.0.0" active="true"></module>
</config>