<!--@subject Account rejected to {{var store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$customer.name}}</p>
<p>
    {{trans
        'Sorry your account has been rejected to %store_frontend_name.'

        store_frontend_name=$store.getFrontendName()
    |raw}}
</p>

{{template config_path="design/email/footer_template"}}
