<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd"> 
    <module name="BoostMyShop_Organizer" schema_version="0.0.3" setup_version="0.0.3" >
        <sequence>
            <module name="Magento_Sales" />
            <module name="Magento_Store"/>
            <module name="Magento_Config"/>
        </sequence>
    </module>
</config>